/*
Theme Name: 奇妙なラビリンスからの招待状
Description: 奇妙なラビリンスからの招待状用にM DESIGN LABO yamauchiが制作したオリジナルのテーマです。
Author: mayumi yamauchi
Author URI: http://mdsign-labo.com
Version: 1.0.0
Text Domain: mdesign-labo
Theme URI: //
License: //
License URI: //

tag一覧 → https://goo.gl/7ljVMR の特徴で絞った際のvalue
Tags: entertainment
*/

.wp-caption {
  /* code... */
}
.wp-caption-text {
  /* code... */
}
.sticky {
  /* code... */
}
.gallery-caption {
  /* code... */
}
.bypostauthor {
  /* code... */
}
.alignright {
  /* code... */
}
.alignleft {
  /* code... */
}
.aligncenter {
  /* code... */
}
.screen-reader-text {
  /* code... */
}
