@charset "utf-8";
@import "mixin";

.error {
  position: relative;
  color: #fff;
  height: 100%;
  padding-top: 138px;
  margin-bottom: 100px;
  @include mq('max','xl') {
    padding-top: 78px;
  }
  @include mq('max','lg') {
    margin-bottom: 60px;
  }
  &__img {
    text-align: center;
    padding: 80px 0 40px;
    @include mq('max','xl') {
      width: 96%;
      margin: 0 auto;
    }
    @include mq('max','lg') {
    padding-top: 20px;
  }
  }
  &__txt {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
  }
  &__btn {
    width: 380px;
    margin: 0 auto;
    // color: #000;
    @include mq('max','md') {
      width: 80%;
    }
    a {
      background-color: #720303;
      display: block;
      color: #fff;
      line-height: 46px;
      text-align: center;
      height: 46px;
      transition: all 0.3s;
      border: 2px solid #fff;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}