@charset 'utf-8';
@import 'mixin';
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
body {
  font-family:  YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-weight: 500;
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #000;
}
.yumin{
 font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}
.loto{
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  line-height: 1.3;
  font-feature-settings: "palt";
  letter-spacing: 1px;
}
*{
  box-sizing: border-box;
}
a{
  color: #333;
}
* img {
  max-width: 100%;
  vertical-align: bottom;
}
ul, li {
  list-style: none;
}
a{
  text-decoration:none;
}
.italic{
  font-style: italic;
}
b, strong, .bold{
  font-weight: bold;
}
//————————————————————————————————————————————
// header
//————————————————————————————————————————————
.header{
  position: fixed;
  width: 100%;
  background: linear-gradient(73deg, #000, #292929);
  z-index: 500;
  &_wrap{
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 24px 20px;
    margin: 0 auto;
    z-index: 400;
    @include mq('max','lg') {
      background: linear-gradient(73deg, #000, #292929);
      padding: 10px 15px;
    }
  }
  &_nav{
    ul{
      li{
        &:not(:first-of-type){
          margin-left: 35px;
          @include mq('max','xl') {
            margin-left: 25px;
          }
        }
        a{
          position: relative;
          font-size: 18px;
          font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
          color: #fff;
          @include mq('max','xl') {
            font-size: 16px;
          }
          &:before{
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: -12px;
            background: #940505;
            width: 5px;
            height: 5px;
            margin: 0 auto;
            border-radius: 50px;
          }
          &:hover {
            &:before {
              background: #fff;
            }
          }
        }
      }
    }
  }
}
.anchor {
 padding: 137px 0 0 0;
 margin: -137px 0 0 0;
 @include mq('max','lg') {
    padding: 77px 0 0 0;
    margin: -77px 0 0 0;
  }
}
.sp_nav {
  display: none;
  @include mq('max','lg') {
    position: fixed;
    top: 78px;
    left: 0;
    width: 100%;
    background: #191919;
    box-shadow: 0 20px 20px -7px #3838387a;
    transform: translateY(calc(-120% - 100px));
    transition-duration: 800ms;
    display: block;
    z-index: 300;
    ul{
      li {
        a {
          padding: 10px;
          text-align: center;
          font-size: 18px;
          display: block;
          color: #fff;
          border-top: 1px solid #e8e8e880;
        }
      }
    }
  }
}
.sp_btn {
  @include mq('max','lg') {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 45px;
    height: 45px;
    background: #720303;
    display: block;
    cursor: pointer;
    z-index: 200;
    span,
    span:before {
      position: relative;
      top: calc(50% - -4px);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 2px;
      background: #fff;
      display: block;
      transition-duration: 300ms;
    }
    span:before {
      position: absolute;
      content: "";
      top: calc(50% - 13px);
    }
    &.close span {
      transform: rotate(45deg);
      top: calc(50% - 2px);
      &:before {
        transform: rotate(-90deg);
        top: calc(50% - 1px);
      }
    }
    &.close + .sp_nav{
      transform: translateY(0%);
    }
  }
}
.logo_area{
  h1 {
    width: 200px;
    @include mq('max','lg') {
      width: 130px;
    }
  }
  a {
    transition: .3s;
    &:hover {
      opacity: 0.7;
    }
  }
  
}
@include mq('max','lg') {
  .header{
    .nav_area{
      display: none;
    }
    &.active {
      .sp_nav {
        transform: translateY(0);
      }
    }
  }
}


//————————————————————————————————————————————
// main_visual
//————————————————————————————————————————————
.main_visual {
  padding-top: 137px;
  background: #000000;
  @include mq('max','lg') {
    padding-top: 77px;
  }
  &_box {
    position: relative;
    .mv_txt{
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      width: 90%;
      margin: 0 auto;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

//————————————————————————————————————————————
// footer
//————————————————————————————————————————————
.footer {
  background: #000000;
  &_wrap {
    max-width: 1200px;
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
    @include mq('max','md') {
      padding: 40px 15px;
    }
  }
  .logo_area{
    img {
      width: 200px;
    }
  }
  &_sns {
    width: 100%;
    @include mq('max','md') {
      margin-top: 15px;
    }
    li {
      width: 52px;
      @include mq('max','md') {
        width: 42px;
      }
      &:not(:first-of-type){
        margin-left:10px;
        @include mq('max','md') {
          margin-left:15px;
        }
      }
    }
    a {
      display: block;
      transition: .3s;
      &:hover {
        transform: rotate(20deg);
        opacity: .8;
      }
    }
  }
}

@include mq('max','md') {
  .footer{      
    .logo_area{
      width: 100%;
      text-align: center;
    }
    .sns_area{
      width: 100%;
      margin-top: 20px;
      justify-content: center !important;
      .footer_sns,.copy{
        justify-content: center !important;
      }
      .copy{
        margin-top: 15px;
      }
    }
  }
}
//————————————————————————————————————————————
// section
//————————————————————————————————————————————
section{
  overflow: hidden;
}
.section_inner{
  max-width: 1200px;
  width: 100%;
  padding: 65px 20px;
  margin: 0 auto;
  @include mq('max','lg') {
    padding: 50px 20px;
  }
  @include mq('max','md') {
    padding: 30px 15px;
  }
  &.w1000{
    max-width: 1000px;
  }
  &.w840{
    max-width: 840px;
  }
  &_medium{
    padding: 50px 20px;
    @include mq('max','lg') {
      padding: 40px 20px;
    }
    @include mq('max','md') {
      padding: 30px 15px;
    }
  }
}
.title_large{
  font-size: 36px;
  margin-bottom: 35px;
  @include mq('max','lg') {
    font-size: 30px;
    margin-bottom: 20px;
  }
  @include mq('max','md') {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
.title_medium {
  font-size: 28px;
  @include mq('max','lg') {
    font-size: 26px;
  }
  @include mq('max','md') {
    font-size: 20px;
  }
}