@charset 'utf-8';
@import 'mixin';

#gallery-1 {
  width: 1200px;
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 160px;
  @include mq('max','xl') {
    width: 96%;
  }
  @include mq('max','md') {
    padding-top: 80px;
    margin-bottom: 60px;
  }
  @include mq('max','md') {
    padding-top: 70px;
    margin-bottom: 45px;
  }
  .gallery-item {
    margin: 0px 1% 1% 0;
    text-align: center;
    width: 24%;
    position: relative;
    @include mq('max','lg') {
      width: 49%;
    }
    img {
      height: auto;
    }
    &:nth-of-type(4n) {
      margin-right: 0;
      @include mq('max','lg') {
        margin-right: 1%;
      }
    }
    &:nth-of-type(2n) {
      @include mq('max','lg') {
        margin-right: 0;
      }
    }
  }
}
