@charset 'utf-8';
@import 'mixin';
//————————————————————————————————————————————
// content
//————————————————————————————————————————————

//——————————— news_section ———————————
.news_wrap{
  .news_box{
    display: flex;
    justify-content: space-between;
    @include mq('max','lg') {
      flex-flow: wrap;
    }
    &:not(:first-of-type){
      margin-top: 20px;
    }
    .data{
      width: 100px;
      @include mq('max','lg') {
        width: 100%;
      }
    }
    .title{
      width: calc(100% - 120px);
      @include mq('max','lg') {
        margin: 6px 0 0 0;
        padding: 0 0 12px 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

//——————————— introduction_section ———————————
.abs{
  position: absolute;
}
.introduction_section{
  position: relative;
  width: 100%;
  background:url(../img/index/bg_introduction.png)center / cover no-repeat,-webkit-linear-gradient(-250deg, #000, #0b0b39);
  .para01 {
    top: 0;
    left: 9vw;
    @include mq('max','sm') {
      left: 44vw;
    }
  }
  .para02 {
    top: 8vw;
    right: 9vw;
    @include mq('max','lg') {
      top: 88vw;
      right: 39vw;
      opacity: 0.5;
    }
  }
  .para03 {
    top: 22vw;
    left: 45vw;
  }
  .para04 {
    bottom: 4vw;
    left: 27vw;
  }
}
.img_txt_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:first-of-type{
    margin-top: 100px;
    @include mq('max','lg') {
      margin-top: 60px;
    }
    @include mq('max','md') {
      margin-top: 10px;
    }
  }
  .img_box{
    position: relative;
    max-width: 560px;
    width: 100%;
    @include mq('max','lg') {
      max-width: 350px;
    }
    @include mq('max','md') {
      max-width: 100%;
      margin: 30px 0 !important;
    }
    .flag{
      position: absolute;
      left: -10px;
      top: -10px;
      width: 260px;
      height: auto;
      @include mq('max','lg') {
        width: 170px;
      }
      @include mq('max','md') {
        width: 140px;
      }
      p {
        position: absolute;
        top: 50%;
        left: -60px;
        right: 0;
        color: #fff;
        text-align: center;
        transform: translateY(-50%);
        @include mq('max','md') {
          left: -30px;
        }
      }
    }
  }
  .txt_box{
    position: relative;
    width: calc(100% - 580px);
    margin-left: 20px;
    @include mq('max','lg') {
      width: calc(100% - 370px);
    }
    @include mq('max','md') {
      width: 100%;
      margin: 0 !important;
      padding: 0 0 30px 0;
    }
    &.reverse{
      margin-left: 0;
      margin-right: 20px;
    }
    &:before{
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100px;
      height: 1px;
      background: #aeaeae;
    }
  }
}

//——————————— performance_section ———————————
.performance_section{
  position: relative;
  width: 100%;
  background: url(../img/index/bg_performance.png) right bottom no-repeat, -webkit-linear-gradient(-250deg, #000, #02220c);
  .para01{
    right: 23vw;
    top: 4vw;
  }
  .para02{
    left: 5vw;
    top: 24vw;
    @include mq('max','lg') {
      left: -60px;
      top: 84vw;
    }
  }
}
.icon_check{
  min-width: 27px;
}
.border_wrap{
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.label{
  background: #720303;
  color: #fff;
  font-size: 18px;
  padding: 5px 30px;
  display: inline-block;
}
.event_wrap{
  .event_box{
    max-width: 366px;
    width: 100%;
    height: 366px;
    background-size: contain;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    @include mq('max','md') {
      width: 100%;
    }
    .inner_box{
      position: relative;
      .detail_box{
        position: absolute;
        top: 58px;
        left: 0;
        right: 0;
        width: calc(100% - 50px);
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
.detail_font40{
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: bold;
}
.detail_font32{
  font-size: 32px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 10px 0;
  padding: 0.5rem 0;
}
.detail_font15{
  font-size: 15px;
}

//——————————— message_section ———————————

.message_section{
  position: relative;
  width: 100%;
  background: url(../img/index/bg_ptn01.png),linear-gradient(178deg, #000, #320528);
  .para01{
    right: 6vw;
    top: 11vw;
    @include mq('max','lg') {
      right: 6vw;
      top: 11vw;
      width: 240px;
    }
  }
  .para02{
    left: 20vw;
    top: 24vw;
    @include mq('max','lg') {
      left: 60vw;
      top: 84vw;
    }
  }
  .para03{
    left: 10vw;
    top: 37vw;
    @include mq('max','lg') {
      left: 10vw;
      top: 77vw;
      width: 120px;
    }
  }
}

.youtube2 {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//——————————— menber_section ———————————
.cast_section {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.entry{
  &__button {
    width: 500px;
    font-size: 18px;
    margin: 0 auto 100px;
    text-align: center;
    @include mq('max','md') {
      width: 96%;
      font-size: 16px;
      margin: 0 auto 60px;
    }
    a {
      display: block;
      width: 100%;
      padding: 25px 20px;
      background-color: #720303;
      color: #fff;
      transition: .3s;
      &:hover {
        opacity: .8;
      }
    }
  }
}

//——————————— gallery_section ———————————

#gallery-1 {
  width: 1200px;
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  @include mq('max','xl') {
    width: 96%;
  }
  @include mq('max','md') {
    padding-top: 80px;
    margin-bottom: 60px;
  }
  @include mq('max','md') {
    padding-top: 70px;
    margin-bottom: 45px;
  }
  .gallery-item {
    margin: 0px 1% 1% 0;
    text-align: center;
    width: 24%;
    position: relative;
    @include mq('max','lg') {
      width: 49%;
    }
    img {
      height: auto;
    }
    &:nth-of-type(4n) {
      margin-right: 0;
      @include mq('max','lg') {
        margin-right: 1%;
      }
    }
    &:nth-of-type(2n) {
      @include mq('max','lg') {
        margin-right: 0;
      }
    }
  }
}
